body .TwaFull.fl-row-full-height .fl-row-content-wrap {
min-height: calc(100vh - 190px);
}

body .fl-row-full-height .fl-row-content-wrap {
  min-height: calc(100vh - 190px);
}

body .fl-photo-caption-hover {
  background: rgba(26,25,48,0.8);
}
