/*-----------------------------------------------------------------
# VARIABLES
-----------------------------------------------------------------*/

/*
* Here is where we declare all our variables like colors, fonts,
* base values, and defaults. We want to make sure this file ONLY
* contains variables.
*/

// == BREAKPOINTS ============================
// note: used for include-media mixin
$first-breakpoint-value: 400px; // small
$second-breakpoint-value: 768px; // medium
$third-breakpoint-value: 990px; // large



// == CONTENT WIDTH DIMENSIONS ============================
$max-width: 1170px;
$max-width-narrow: 800px;
$max-width-extra-narrow: 680px;



// == COLOURS ============================
$color-red-base:      #b31b33;

$color-primary-color: #1a1930;
$color-shirt-blue: #2d2d5f;
$color-secondary-color:     #6e111f;
$color-green-sea:    #0D8376;
$color-blue-dark:    #2f2d60;
$color-blue-light:  #264756;

$color-green-base:    #00501A;
$color-green-bright:  #009C33;
$color-green-dark:    #003612;
$color-green-teal:    #055D53;
$color-sand:          #D7CEB7;
$color-sand-light:    #EEE5D6;
$color-sand-light-two:#F4F5F0;

$color-gray-base:     #a0a0a0;
$color-gray-dark: #989898;
$color-black:         #242424;
$color-white:         #FFFFFF;

// assign colours to vars (per best practice: http://sachagreif.com/sass-color-variables/)
$alert-red:         $color-red-base;
$text-color:        $color-black;
$link-color:        $color-secondary-color;
$link-hover:        darken($link-color, 9%);
$border-color:      rgba($color-black, 0.8);



// == TYPOGRAPHY ========================
// Base Font Setups
$base-font-weight: 400;
$base-font-size: 13px;
$base-line-height: 1.5;

// Fonts
$primary-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$secondary-font-family: "Open Sans", Helvetica, Arial, sans-serif;

// Glyphs
$double-arrow: "\u21d2";
$link-glyph: $double-arrow;



// == EFFECTS ========================
$transition-ease: all 333ms ease;
