// link button styles ----------------------------------------------- /
.LinkButton {
  display: inline-block;
  margin: 1rem 0 1.75rem 0;
  text-align: center;
}
.LinkButton a {
  background-color: $link-color;
  border: none;
  color: #FFFFFF;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.6rem 1.5rem;
  text-transform: uppercase;
  transition: $transition-ease;
  &:hover {
    background-color: $link-hover;
  }
}
