// main logo  ----------------------------------------------- /
.SiteLogo {
  text-align: center;
  width: 15%;
  width: 100%;
  float: none;
  position: absolute;
top: 50px;
  margin-left: 0;
    @include im-media('>320px') {
  top:6px;
    }
  @include im-media('>medium') {
    top:10px;
    margin-left: 5px;
    text-align: left;
    width: auto;
  }

  a {
    display: inline-block;
  }
  img {
    display: inline-block;
    margin-right: 10px;
    width: 52px;
    height: 100%;
    vertical-align: bottom;
    @include im-media('>320px') {
    width: 80px;
    }
    @include im-media('>medium') {
      width: 85px;
      margin-right: 30px;
    }
  }
}


.LogoTitle {
  display: inline-block;
  margin-top: 20px;
}

.LogoHeader {
  font-size: rem(20);
  font-weight: 700;
  color: $color-blue-dark;
  line-height: 1;
  margin-bottom: 0;
  @include im-media('>medium') {
    font-size: rem(40);
    line-height: 0.7;
  }
  span {
    font-size: rem(25);
  }
}


// END SiteLogo --------
