.ReviewGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ReviewItem {
  text-align: center;
  margin-bottom: 20px;
  background: #f8f8f8;
  border: 1px solid #eee;
  padding: 50px;
  max-width: 90%;
@include im-media('>large') {
  max-width: 45%;
  margin-right: 20px;
}

}

.ReviewContent {
  font-style: italic;
}

.ReviewItem-rating {
  margin-bottom: 0;
}

.ReviewItem-author {
  margin-bottom: 0;
  display: inline-block;
  &::before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 3px;
    background: #ccc;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.ReviewItem-source {
margin-bottom: 0;
display: block;
font-size: rem(15);
}

// Star Ratings
.ReviewRating-image {
  display: block;
  width: 150px;
  height: 29px;
  background-size: 150px 29px;
  margin: 0 auto 10px auto;
}
.star3 {
  background-image: url('../img/stars/star_three.png');
}
.star35 {
  background-image: url('../img/stars/star_threehalf.png');
}
.star4 {
  background-image: url('../img/stars/star_four.png');
}
.star45 {
  background-image: url('../img/stars/star_fourhalf.png');
}
.star5 {
  background-image: url('../img/stars/star_five.png');
}
