/*-----------------------------------------------------------------
# WEBSITE FOOTER
-----------------------------------------------------------------*/

// PAGE FOOTER STYLES ----------------------------------------------- /
.PageFooter {
  background: $color-primary-color;
  min-height: 220px;
  color: $color-gray-dark;
  font-size: rem(14);
  padding: 40px 0 10px 0;

  h4 {
    color: #fff;
    font-size: rem(16);
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid #f4f4f4;
    position: relative;
    margin-bottom: 16px;

  }
  p {
    font-size: rem(14);
  }

  a {
    color: #fff;
  }

  @include im-media('>large') {
  padding-bottom: 0;
  }
}
.SiteCopyright {
  display: block;
}

.FooterColumns {
  @include flex-one-quarter('FooterColumn');
}


.FooterLower {
  background:$color-primary-color;
  height: 50px;
  margin-top: 40px;
  text-align: center;
  line-height: 40px;
  span {
    height: 50px;
    line-height: 50px;
  }
}

.FooterAddress p {
  margin-bottom: 2px;
  i {
    margin-right: 10px;
  }
}


.FooterColumn .validation_error {
  display: none;
}

.FooterColumn input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
.FooterColumn input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
.FooterColumn input:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
.FooterColumn input:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}


.FooterColumn .gform_wrapper input.large, .FooterColumn .gform_wrapper textarea, .gform_wrapper input.medium, .gform_wrapper input.small, .gform_wrapper select.large, .gform_wrapper select.medium, .gform_wrapper select.small {
  background: #666;
  border: 0;
  padding-right: 0;
}

.FooterColumn .gform_wrapper textarea {
  margin-top: 10px;
  color: #fff;
}

body .FooterColumn .gform_wrapper ul li.gfield, body .FooterColumn .gform_wrapper .top_label div.ginput_container {
  margin-top: 0;
  padding-right: 0;
}

.FooterColumn .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
  max-width: 100% !important;
  width: 100%;
}

.FooterColumn .gform_wrapper li.gfield.gfield_error, .FooterColumn .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  border: 0;
  background: none;
  padding-top: 0;
}

.FooterColumn .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .FooterColumn .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
  margin-top: 0;
}

.FooterColumn .gform_wrapper .validation_message {
  color: $color-secondary-color;
}

.FooterColumn .gform_wrapper li.gfield_error input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),.FooterColumn .gform_wrapper li.gfield_error textarea {
  border-color: $color-secondary-color;
}

.FooterColumn .gform_wrapper {
  margin-top: -10px;
}

.FooterColumn .gform_wrapper .gform_footer {
  margin: 0;

  .button {
    background-color: $link-color;
  border: none;
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  transition: $transition-ease;
  }

}
