/*-----------------------------------------------------------------
# WEBSITE HEADER
-----------------------------------------------------------------*/



.PageHeader {
  transition: all 0.4s ease;
  width: 100%;
  z-index: 1000;
  height: 60px;
  background: #f4f4f4;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  color: $color-secondary-color;
  a {
    color: $color-secondary-color;
  }
}

.PageHeader.FixedHeader {
  position: fixed;
  top: 0;
}

.FixedHeaderPadding {
  padding-top: 60px;
}
