.TopHeader {
  display: block;
  height: 130px;
  width: 100%;
  background: #fff;
  padding:  0;
}

.HeaderContact {
  position: absolute;
  text-align: center;
  top:10px;
  width: 100%;
  left: 37px;
  @include im-media('>medium') {
    top:50px;
    right: 20px;
    width: auto;
    left: auto;
  }

  p {
    margin-bottom: 0;
    font-size: rem(26);
  }

  span {
    font-weight: 700;
    color: $color-secondary-color;
    a {
      font-weight: 400;
      color: #333;
    }
  }

}
