.ReviewGroup {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.ReviewItem {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
  background: #f8f8f8;
  border: 1px solid #eee;
  margin-bottom: 30px;
  padding: 50px;
  max-width: 45%; }

.ReviewContent {
  font-style: italic; }

.ReviewItem-rating {
  margin-bottom: 0; }

.ReviewItem-author {
  margin-bottom: 0;
  display: inline-block; }
  .ReviewItem-author::before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 3px;
    background: #ccc;
    vertical-align: middle;
    margin-right: 5px; }

.ReviewItem-source {
  margin-bottom: 0;
  display: block;
  font-size: rem(15); }
