.HeroSlider {
  @include im-media('>large') {
    min-height: 500px;
  }
  }


.HeroSlider-item {
  position: absolute;
}
.HeroSlider-img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: auto;
  max-height: 550px;
}
.HeroSlider-content {
  background: #ccc;
  text-align: center;
  padding: 10px 0;

  .LinkButton {
    padding: 0;
    margin-top: 0;
  }

@include im-media('>medium') {
  padding: 0;
  text-align: left;
    color: #FFFFFF;
    position: absolute;
    bottom: 130px;
    left: 0;
    background: rgba(0,0,0,0.4);

    h4 {
      color: #FFFFFF;
      padding: 20px 20px 0 20px;
      font-size: rem(30);
    }
  }

  .LinkButton {
    margin-bottom: 0;
      padding: 0 20px 20px 20px;
  }
}

.slick-arrow {
  font-size: 0;
  line-height: 0;
  padding: 0;
  border: none;
  position: absolute;
  top: 50%;
  z-index: 2;
  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: #000;
  }
}
.slick-next {
  right: 20px;
}
.slick-prev {
  left: 20px;
}
