.ReviewBanner {
padding: 50px 10px;
  background: #f6f6f6;
  border-top: 1px solid #ccc;
  .SectionContainer  {
    height: 100%;
  }
}


.ReviewSlider-item {
  text-align: center;
  width: 80%;

  p {
    color: $color-shirt-blue;
    font-size: 18px;
    display: inline-block;
      font-style: italic;
      margin-bottom: 4px;
    span {
      display: inline-block;
      color:  $color-shirt-blue;
      position: relative;
      font-style: normal;
      font-weight: 700;
      &::before {
        content: "";
        width: 36px;
        top: 50%;
        height: 1px;
        background:  $color-shirt-blue;
        display: block;
        position: absolute;
        left: -50px;
      }
      &::after {
        content: "";
        width: 15px;
        top: 50%;
        height: 3px;
        background:  $color-shirt-blue;
        display: block;
        position: absolute;
        left: -39px;
        margin-top: -1px;
      }
    }
  }

  span {
    color: $color-shirt-blue;
  }

}


.ReviewSlider .slick-dots  {
  margin: 20px auto 0 auto;
  text-align: center;
  li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 10px;
      height: 10px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &::before {
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: "";
        background-color: rgba(26,25,48,1);
      }
    }
    &.slick-active {
      button::before {
        background-color: rgba(26,25,48,0.3);
      }
    }
  }
}
