/*-----------------------------------------------------------------
# MODAL MENU STYLES
-----------------------------------------------------------------*/
a.ModalMenuButton {
    display: block;
    position: absolute;
    top: 15px;
    right: 26px;
    height: 25px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;

    &:hover {
      opacity: .7;
    }

    p {
      position: relative;
      right: 60px;
      text-transform: uppercase;
      font-size: rem(20);
      font-weight: 700;
      color: $color-shirt-blue;

    }



    span {
      background: $color-shirt-blue;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition:  all .35s ease;
      cursor: pointer;
      &:nth-of-type(2) {
        top: 11px;
      }
      &:nth-of-type(3) {
        top: 22px;
      }
    }

    @include im-media('>1100px') {
    display: none;
    }

}



.ModalNavWrap {
  padding-top: 60px;

  nav {
    position: relative;
    width: 100%;
    font-weight: 400;
    text-align: center;

  }
  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 50px auto;
    display: inline-block;
    position: relative;
    height: 100%;
    border-top: 1px solid #ddd;
    li {
      display: block;
      position: relative;
      background: #f7f7f7;
      border-bottom: 1px solid #ddd;
      transition: $transition-ease;
      font-size: 16px;
      @include im-media('>482px') {
        font-size: 20px;
      }
      &:hover {
        background: #eee;
      }
      a {
        text-decoration: none;
        overflow: hidden;
        display: block;
        height: 50px;
        line-height: 50px;
        color: #888;
        font-weight: 400;
        padding: 0 50px;
      }
    }

    ul.SubMenu {
      display: none;
      margin-top: 0;
      margin-bottom: 0;
      li {
        transition: $transition-ease;
        line-height: 1;
        position: relative;
        background: #ddd;
        border-color: #ccc;
        &:hover {
          background-color: #ccc;
        }
        &:last-of-type {
          border-bottom: 0;
        }
        a {
          font-size: 12px;
          padding: 0;
          font-style: italic;
          @include im-media('>295px') {
            font-size: 13px;
          }
          @include im-media('>482px') {
            font-size: 18px;
          }
        }
      }

      &.is-selected {
        display: block;
      }
    }

  }
}

.CloseModalNavButton {
  position: absolute;
  right: 20px;
  font-size: 30px;
  top: 10px;
  color: #555;
  cursor: pointer;


}

.ExpandMenuBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  display: block;
  background: #ddd;
  z-index: 1000;
  cursor: pointer;

  border-bottom: 1px solid #ccc;


  span {
      transition: $transition-ease;
      display: block;
      color: #333;
      line-height: 50px;
      &::after {
        content: '>';
        color: #000;
      }
  }
  &.activeArrow {
    border-bottom: 0;
  }
  &.activeArrow span {
    transform: rotate(90deg);
  }
}

@include im-media('<350px') {
.ModalNavWrap img {
  width: 60%;
}
}
