

.ScrollTopMenu {
  display: none;
  @include im-media('>large') {
    display: inline-block;
  }
}

.ScrollMenu {
  transition: all 0.3s ease;
  top: 30px;
  display: block;
  margin-left: 149px;
  a {
    display: inline-block;
    width: 33%;
    text-align: center;
    text-transform: uppercase;
    font-size: rem(20);
    padding: 29px 0;
  }
  @include im-media('>large') {
    display: none;
    opacity: 0;
    height: 0;
    margin-left: 180px; // Adjust for logo size
  }
}

.ScrollMenu .ScrollMenu-top {
  display: none;
  @include im-media('>large') {
    display: inline-block;
  }
}

.ScrollMenu .ScrollMenu-mmenu {
  display: inline-block;
  @include im-media('>large') {
    display: none;
  }
}

.sticky .ScrollMenu {
  display: block;

}

// Hide FOUC from MMenu
#nav-menu:not( .mm-menu ) {
   display: none;
}

@include im-media('<490px') {
.ScrollMenu a.ScrollMenu-call {
  display: none;
}
.ScrollMenu a.ScrollMenu-book {
  display: none;
}
.ScrollMenu a.ScrollMenu-mmenu {
  float: right;
  margin-right: 20px;
  width: 75%;
}
}
