.TopHeader {
  position: fixed;
  top: 0;
  display: block;
  min-height: 40px;
  z-index: 1000;
  width: 100%;
  background: #fff; }

.HeaderUpper {
  display: none;
  display: block;
  transition: all 0.4s ease;
  height: 40px;
  margin-bottom: 10px;
  font-size: rem(15); }
  .HeaderUpper a {
    font-size: rem(15); }
  .HeaderUpper p {
    margin-bottom: 0; }
  .HeaderUpper span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    vertical-align: middle; }
